<span *ngIf="cakes">
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="toolbar__main">
      <a href="./">
        <mat-icon class="toolbar__cake-icon" aria-label="Cake">cake</mat-icon>
      </a>
      <span class="toolbar__interior-span"></span>
      <mat-icon
        color="primary"
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >verified_user</mat-icon
      >
      <AuthButton class="toolbar__login-area"></AuthButton>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="app-main__body">
    <div class="app-main__interior">
      <CakeList [cakes]="cakes"></CakeList>
    </div>
  </div>
  <ng-container *ngIf="auth.isAuthenticated$ | async">
    <div class="app-main__add-button">
      <ng-container *ngIf="!addingCake">
        <button
          *ngIf="!addingCake"
          (click)="openDialog()"
          mat-fab
          color="primary"
          aria-label="Add new cake"
        >
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="addingCake">
        <mat-spinner [diameter]="60"></mat-spinner>
      </ng-container>
    </div>
  </ng-container>

  <router-outlet></router-outlet>
</span>
